<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Trang chủ </title>
	<link rel="icon" type="image/x-icon" href="http://127.0.0.1:8000/x-icon.ico" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="http://127.0.0.1:8000/css/style.css" />
	<link rel="stylesheet" href="http://127.0.0.1:8000/css/search.css" />
	<link rel="stylesheet" href="http://127.0.0.1:8000/css/profile.css" />
</head>

<body>
	<div class="container-fluid">
		<!-- nav - bar - start -->
		<!-- main - start -->
		<main>
			<div class="row">
				<div class="col-2 p-0 border border-2" style="min-height: 100vh;">
					<!-- item 1 -->
					<a href="http://127.0.0.1:8000/home" class="logo logo-animation">
						<div class="logo-inner">
							<img src="http://127.0.0.1:8000/images/logo.png" alt="" />
						</div>
						<span class="logo-title logo-title-nav">Star Classes</span>
					</a>
					<!-- item 1 -->
					<a class="search-filter-title " href="http://127.0.0.1:8000/faculty">
						<i class="bi bi-bank"></i> <span>Quản lý khoa</span>
					</a>
					<!-- item 2 -->
					<a class="search-filter-title " href="http://127.0.0.1:8000/department">
						<i class="bi bi-bank2"></i> <span>Quản lý bộ môn</span>
					</a>
					<!-- item 3 -->
					<a class="search-filter-title " href="http://127.0.0.1:8000/course">
						<i class="bi bi-book"></i> <span>Quản lý khoá học</span>
					</a>
					<!-- item 3 -->
					<a class="search-filter-title " href="http://127.0.0.1:8000/slider">
						<i class="bi bi-images"></i> <span>Quản lý Slider Infinity</span>
					</a>
					<!-- item 3 -->
					<a class="search-filter-title " href="http://127.0.0.1:8000/user">
						<i class="bi bi-person-lines-fill"></i> <span>Quản lý User</span>
					</a>
					<!-- item 3 -->
					<a class="search-filter-title" href="http://127.0.0.1:8000/course">
						<i class="bi bi-bag-check"></i> <span>Quản lý hoá đơn</span>
					</a>
					<!-- item 3 -->
					<a class="search-filter-title" href="http://127.0.0.1:8000/course">
						<i class="bi bi-chat-dots"></i> <span>Quản lý bình luận</span>
					</a>
					<!-- item 3 -->
					<a class="search-filter-title" href="http://127.0.0.1:8000/course">
						<i class="bi bi-journal-bookmark-fill"></i> <span>Quản lý mục lục của khoá học</span>
					</a>
					<!-- item 3 -->
					<a class="search-filter-title  " href="http://127.0.0.1:8000/role">
						<i class="bi bi-shield-check"></i> <span>Quản lý quyền truy cập</span>
					</a>
				</div>
				<div class="col-10">
					<div class="nav_top">
						<div class="nav-desktop justify-content-end">
							<div class="nav-user">
								<div class="nav-user-img" href="./profile.html">
									<img src="http://127.0.0.1:8000/images/user.png" alt="" />
								</div>
								<div class="nav-user-dropdown">
									<a class="nav-user-dropdown-top" href="./profile.html">
										<div class="nav-user-top-img">
											<img src="./images/user.png" alt="" />
										</div>
										<div class="nav-user-top-info">
											<div class="nav-user-top-name"></div>
											<div class="nav-user-top-email"></div>
										</div>
									</a>
									<div class="nav-user-dropdown-item">
										<a href="./profile.html?frame=1">My learning</a>
										<a href="./profile.html?frame=4">My cart</a>
										<a href="./profile.html?frame=2">Active Code</a>
										<a href="./profile.html?frame=5">Wishlist</a>
									</div>
									<div class="nav-user-dropdown-item">
										<a href="./profile.html">Notifications</a>
									</div>
									<div class="nav-user-dropdown-item">
										<a href="./profile.html">Edit profile</a>
									</div>
									<div class="nav-user-dropdown-item">
										<a href="./about-us.html">Help</a>
										<a href="http://127.0.0.1:8000/signout" id="signout">Log out</a>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- nav - bar - end -->
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias officia provident modi! Maiores quasi,
					reprehenderit magnam quisquam laboriosam dolorum reiciendis corporis modi voluptatibus iusto porro odio
					doloribus harum voluptate illum.
				</div>
			</div>
		</main>
		<!-- main - end -->
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>