@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: Clear Sans;
    src: url(../font/ClearSans-Regular.ttf);
}

:root {
    --primary-color: #ad5df0;
    --gray-color: #f2f3f5;
    --gray-color-hover: #e1e4e7;
    --red-color: #ff5a83;
    --green-color: #00cf93;
    --gradient-color: linear-gradient(
        316deg,
        rgb(75, 161, 252) 3%,
        rgb(236, 42, 237) 100%
    );
    --main-font: "Noto Sans", sans-serif;
    --text-font: "Clear Sans", "Overpass", sans-serif;
    --box-shadow-color: rgb(155 102 245) 0px 20px 100px -60px;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    background-color: #fff;
    color: #333;
    line-height: 28px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-image: var(--gradient-color);
    height: 100px;
}

input,
textarea,
option,
select {
    font-size: 16px;
    font-family: var(--main-font);
}
a {
    text-decoration: none;
    color: unset;
}

.button {
    background-color: var(--gray-color);
    opacity: 0.7;
}

.button:hover {
    background-color: var(--gray-color-hover);
    transition: 0.3s;
}

/* navbars */
.navs {
    display: flex;
    background-color: #fff;
    padding: 5px 32px;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    /* align-items: center; */
}

.navs .nav-item.active {
    background-image: var(--gradient-color);
    color: #fff;
}

.navs .nav-item {
    white-space: nowrap;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.navs .nav-item i {
    font-size: 20px;
}

.logo {
    display: inline-flex;
    align-items: center;
}

.logo-inner {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.logo-animation {
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-title {
    text-transform: uppercase;
    font-weight: 600;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 5px;
}

.count-online {
    margin-left: 15px;
    background-color: var(--gray-color);
    display: flex;
    align-items: center;
    padding: 10px;
}

.count-online i {
    color: #00cf93;
    font-size: 20px;
    margin-right: 5px;
    animation: text-shadow-drop-center 2s infinite reverse;
}

@keyframes text-shadow-drop-center {
    0% {
        text-shadow: 0 0 0 transparent;
    }
    100% {
        text-shadow: 0 0 5px #00cf93;
    }
}

.navs .nav-item.nav-search {
    position: relative;
    flex: 1;
    padding-left: 25px;
    border: 1px solid #ccc;
}

.nav-search input {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: none;
    outline: none;
}

.nav-search i {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.nav-search input:focus ~ .focus-input {
    animation: slide-in-bck-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    border: 2px solid var(--primary-color);
}

.nav-search .focus-input {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -2;
    /* animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
}

.nav-link:hover {
    background-color: #f2f3f5;
    transition: 0.3s;
}

.nav-item:last-child {
    /* margin-left: 15px; */
}

.nav-item:hover i {
    color: var(--primary-color);
    transition: 0.3s;
}

/* main */
main {
    margin-top: 100px;
}

/* footer */
.footer-container {
    padding: 40px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

.footer-container > div {
    padding: 0 15px;
    width: 30%;
}

.footer-social {
    width: 40%;
}

.social-links {
    margin-top: 45px;
    display: flex;
}

.social-link {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--gray-color-hover);
    flex-shrink: 0;
}

.social-link:not(:first-child) {
    margin-left: 25px;
}

.social-link:hover {
    transition: 0.3s;
    background-image: var(--gradient-color);
    opacity: 0.6;
    color: #fff;
}

.footer-column-title {
    font-size: 22px;
    padding-bottom: 25px;
}

.footer-column-item {
    margin-bottom: 22px;
}
.footer-column-item a {
    display: flex;
}

.footer-column-item a span {
    margin-left: 10px;
}

.footer-subtle {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(43, 59, 74, 0.3);
}

.footer-subtitle-links {
    display: flex;
    justify-content: center;
}

.footer-subtitle-link:hover {
    transition: 0.3s;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.switch {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 24px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    background-image: var(--gradient-color);
    border-radius: 100rem;
    transition: background-color 0.25s linear;
}

.switch:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: background-color 0.25s linear, transform 0.25s linear;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch {
    background: #000;
}

.switch-input:checked + .switch:after {
    transform: translateX(26px);
    background-color: white;
}

.menus {
    margin: 20px auto;
    width: 90%;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.tabs {
    width: 300px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    height: min-content;
    visibility: hidden;
    opacity: 0;
}

.tabs::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
}

.tab-item {
    display: block;
    padding: 5px;
}

.tab-item:hover {
    transition: 0.3s;
    background-color: var(--gray-color-hover);
}

.slides {
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    height: auto;
    width: 100%;
}

.slide-imgs {
    position: relative;
    display: flex;
    /* width: 100%; */
    height: 100%;
    transition: transform 0.6s linear;
}

.slide-img {
    height: 100%;
    width: 100%;
    flex: 0 0 100%;
    user-select: none;
}

.slide-img img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slide-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: 50px;
    display: flex;
}

.slide-dots span {
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    opacity: 0.8;
    margin: 5px;
    cursor: pointer;
}

.slide-dots .dot-active {
    background-image: var(--gradient-color);
}

@keyframes slide-right-hide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slide-right-show {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.tab-item-inner {
    position: absolute;
    background-color: #fff;
    top: 0;
    right: -5px;
    padding: 10px;
    width: 260px;
    height: 100%;
    transform: translateX(100%);
    visibility: hidden;
    transition: 0.3s;
}

.tab-item-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: transparent;
    transform: translateX(-5px);
    opacity: 0.5;
}

.tab-item-link {
    display: block;
    cursor: pointer;
    padding: 5px;
}

.tab-item-link:hover {
    transition: 0.3s;
    background-color: var(--gray-color-hover);
}

.tab-item > * {
    pointer-events: none;
}

.tab-hide {
    visibility: hidden;
    animation: fade-out-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tab-show {
    visibility: visible;
    animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px) translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0) translateX(100%);
        opacity: 1;
    }
}

@keyframes fade-out-bottom {
    0% {
        transform: translateY(0) translateX(100%);
        opacity: 1;
    }
    100% {
        transform: translateY(50px) translateX(100%);
        opacity: 0;
    }
}

.new-student {
    position: fixed;
    bottom: 25px;
    left: 25px;
    width: 350px;
    height: 115px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    overflow: hidden;
    z-index: 996;
    transform: translateX(-120%);
}

.student-img {
    width: 100px;
    height: 100%;
    flex-shrink: 0;
}

.student-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.student-content {
    padding: 5px 10px;
}

/* .student-class,
.student-author {
  font-weight: bold;
} */

.student-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.student-class {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.student-time {
    font-size: 14px;
    opacity: 0.5;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000px);
    }
}

.navs-show {
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navs-hide {
    animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

ul {
    list-style-type: none;
}

ul li {
    position: relative;
    /* padding-left: 20px; */
}

.page-item.active .page-link {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-link {
    color: #6c757d;
}

.page-link:hover {
    color: #6c757d;
    border-color: #dee2e6;
}

.page-link:focus {
    color: #6c757d;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(155, 102, 245, 0.25);
}

/* ul li::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: var(--primary-color);
} */

.footer-column-item a:hover {
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-sign {
    margin-left: auto;
    display: flex;
    justify-content: end;
}

.nav-user {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.nav-user:hover .nav-user-dropdown {
    animation: scale-in-center 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    visibility: visible;
}

.nav-user-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-user-dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    min-width: 300px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.nav-user-dropdown::after {
    content: "";
    position: absolute;
    top: -10px;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
}

.nav-user-dropdown-top {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-user-top-info {
    margin-left: 5px;
}

.nav-user-dropdown-top:hover .nav-user-top-name {
    transition: 0.3s;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-user-top-name {
    font-weight: bold;
}

.nav-user-top-email {
    font-size: 14px;
    color: #333;
}

.nav-user-top-img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-user-top-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-user-dropdown-item {
    /* padding: 10px 0 0; */
    border-bottom: 1px solid #ccc;
}

.nav-user-dropdown-item:last-child {
    border-bottom: none;
}

.nav-user-dropdown-item a {
    display: block;
    padding: 10px;
}

.nav-user-dropdown-item a:hover {
    background-color: var(--gray-color-hover);
    transition: 0.3s;
}

/*
 * Baseline styles
 */
.loading {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    /* filter: blur(4px); */
    /* background: linear-gradient(to right, #fc5c7c91, #6a82fb91); */
    /* url(../images/singpic.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    backdrop-filter: blur(4px);
    z-index: 1001;
    display: none;
}

/*
 * Loading Dots
 * Can we use pseudo elements here instead :after?
 */
.loading span {
    display: inline-block;
    vertical-align: middle;
    width: 0.8em;
    height: 0.8em;
    margin: 0.75em;
    background: #12c2e9;
    border-radius: 0.6em;
    animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading span:nth-of-type(2) {
    background: #67aeeb;
    animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
    background: #9390ed;
    animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
    background: #c471ed;
    animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
    background: #ce66b9;
    animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
    background: #dd5b87;
    animation-delay: 1s;
}
.loading span:nth-of-type(7) {
    background: #f64f59;
    animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading .logo-inner {
    width: 80px;
    height: 80px;
}
.loading .logo-title {
    font-size: 32px;
    margin-left: 20px;
}

.loading a {
    pointer-events: none;
}

.loading .logo-inner {
    animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotateY(45deg);
    }
    to {
        transform: rotateY(225deg);
    }
}

.nav-menu {
    position: relative;
}

.nav-menu:hover .tabs {
    animation: scale-in-center 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    visibility: visible;
}

.nav-menu:hover i {
    transform: rotate(180deg);
    transition: 0.3s;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.navs .nav-menu i {
    font-size: 14px;
    margin-left: 5px;
    transition: 0.3s;
}

.nav-cart {
    position: relative;
}

#cart-course {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--red-color);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    display: none;
}

.popup-add-cart-sucess {
    position: fixed;
    top: 60px;
    right: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    display: none;
}

.popup-add-cart-sucess i {
    color: #00cf93;
    margin-right: 5px;
}

.popup-add-cart-sucess::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--primary-color);
    animation: width-to-full 2s linear forwards;
}

@keyframes width-to-full {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/* Mobile */
.nav-mobile {
    width: 100%;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.nav-mobile-button {
    font-size: 22px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-mobile-button:hover {
    background-color: var(--gray-color-hover);
}
.nav-mobile-fixed-full {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #fc5c7c4d, #6a82fb4d);
    backdrop-filter: blur(4px);
    width: 100%;
    min-height: 100vh;
    z-index: 1000;
    display: none;
}
.nav-mobile-fixed {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    min-width: 60%;
    height: 100%;
}
.nav-moblie-row {
    display: flex;
}
.nav-mobile-item {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.nav-mobile-right {
    font-size: 22px;
    display: flex;
    align-items: center;
}

.nav-mobile-right i {
    pointer-events: unset;
    margin-left: 15px;
    cursor: pointer;
}

.cart-course-mobile-box i {
    font-size: 20px;
}

.nav-mobile-account i {
    font-size: 26px;
}

.nav-mobile-row-top {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
    color: var(--primary-color);
}

.nav-mobile-row-top i {
    pointer-events: unset;
    cursor: pointer;
}

.nav-moblie-row-mid {
    border-bottom: 1px solid #ccc;
}
.bi-x-lg {
    color: var(--red-color);
}

.nav-mobile-fixed i {
    margin-right: 10px;
}
.nav-mobile-fixed .tab-item:hover {
    background-color: unset;
}
.nav-mobile {
    display: none;
}
.nav-desktop {
    display: flex;
    width: 100%;
}

.nav-mobile-account {
    position: relative;
}
.nav-user-dropdown-mobile {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 45px;
    width: 200px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.nav-user-dropdown-mobile .nav-user-dropdown-item a {
    padding: 5px 10px;
}

.user-login {
    display: none;
}

.nav-user-top-name-mobile {
    font-weight: bold;
    color: var(--primary-color);
}

.show-mobile {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.nav-mobile-search-full {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #fc5c7c4d, #6a82fb4d);
    backdrop-filter: blur(4px);
    width: 100%;
    min-height: 100vh;
    z-index: 1000;
    display: none;
}

.nav-mobile-search-full .nav-item.nav-search {
    position: relative;
    flex: 1;
    padding-left: 25px;
    border: 1px solid #ccc;
    width: 70%;
    margin: 50px auto;
    background-color: #fff;
}

.nav-item.nav-search .close-search-mobile {
    left: unset;
    right: 5px;
}

.nav-mobile-search-full .nav-item.nav-search i {
    pointer-events: unset;
    cursor: pointer;
}

.nav-mobile-search-full .nav-item.nav-search {
    border: 1px solid var(--primary-color);
}

.nav-cart-mobile {
    position: relative;
}

#cart-course-mobile {
    position: absolute;
    top: -5px;
    right: -8px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--red-color);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    display: none;
}

/* Search Result Display */
.search-result-popup {
    position: fixed;
    background-color: #fff;
    height: auto;
    top: 0;
    left: 0;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}

.search-result-item-popup {
    display: block;
}

.search-result-item-popup b {
    color: var(--primary-color);
}

.show-search-popup {
    transition: 0.3s;
    visibility: visible;
    opacity: 1;
}

/* Search Result Display --Mobile  */
.search-result-popup-mobile {
    position: fixed;
    background-color: #fff;
    height: auto;
    top: 100px;
    /* left: 0; */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    width: 70%;
    border: 1px solid red;
    z-index: 1005;
}

.search-result-item-popup-mobile {
    display: block;
}

.search-result-item-popup-mobile b {
    color: var(--primary-color);
}
.nav-voucher {
    margin: 0 15px;
}

.text-muted {
    display: none;
}
/* Responsive ----------*/
@media only screen and (max-width: 1279px) {
    .trending-img {
        width: 80px;
    }

    .nav-voucher {
        display: none !important;
    }

    .sign-box {
        padding: 20px;
    }

    .checkbox1,
    .forgot-pass {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1023px) {
    /* .trending-img {
    width: 80px;
  } */
    .logo-title-nav {
        display: none;
    }

    .count-online-text {
        display: none;
    }

    .count-online {
        display: none;
    }

    .course-review-count {
        display: none;
    }

    .course-star i {
        font-size: 14px;
    }

    .course-price {
        display: flex;
    }

    .course-price-old {
        font-size: 14px;
    }

    .course-title {
        -webkit-line-clamp: 3;
    }

    .course-wrapper {
        min-height: 190px;
    }

    .course-item {
        flex: 0 0 calc(25% - 10px);
        margin: 10px 0 0 10px;
    }

    .hot-topic-body {
        width: calc(100% + 10px);
        margin: -10px 0 0 -10px;
    }

    .trending-item {
        flex: 0 0 calc(100% - 10px);
        margin: 10px 0 0 10px;
    }

    .trending-wrapper {
        width: calc(100% + 10px);
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0 0 -10px;
    }

    .trending-img {
        width: 150px;
    }

    .combo-row {
        width: calc(100% + 10px);
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0px 0px -10px;
    }

    .combo-row-2 .combo-item {
        flex: 0 0 calc(50% - 10px);
        margin: 10px 0 0 10px;
    }

    .combo-row-3 .combo-item {
        flex: 0 0 calc(33.33% - 10px);
        margin: 10px 0 0 10px;
    }

    .combo-name {
        -webkit-line-clamp: 2;
        min-height: 60px;
    }

    .catalog-item-img {
        padding: 10px;
    }

    .teacher-item {
        flex: 0 0 calc(25% - 10px);
        margin: 10px 0 0 10px;
        padding: 10px;
    }

    .teacher-wrapper {
        width: calc(100% + 10px);
        margin: -10px 0 0 -10px;
    }

    .teacher-name {
        font-size: 16px;
        padding: 10px 0;
        min-height: 80px;
    }

    .catalog-wrapper {
        width: calc(100% + 10px);
        margin: -10px 0 0 -10px;
    }

    .catalog-item {
        flex: 0 0 calc(25% - 10px);
        margin: 10px 0px 0px 10px;
    }

    .course-point {
        font-size: 16px;
    }

    .course-title {
        overflow: unset;
    }

    .course-author {
        overflow: unset;
    }

    .footer-container {
        flex-direction: column;
    }

    .social-links {
        margin: 10px 0 20px;
    }

    .footer-container > div {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .nav-desktop {
        display: none;
    }

    .navs {
        padding: 5px;
    }

    .new-student {
        display: none !important;
    }

    .nav-mobile {
        display: flex;
    }

    main {
        margin-top: 75px;
    }

    .course-item {
        flex: 0 0 calc(50% - 10px);
        margin: 10px 0px 0px 10px;
    }

    .course-wrapper {
        min-height: 165px;
    }

    .trending-item {
        flex: 0 0 calc(100% - 10px);
        margin: 10px 0 0 10px;
    }

    .combo-row-3 .combo-title {
        flex-direction: column;
        top: 10px;
    }

    .combo-row-3 .combo-desc {
        padding-left: 0;
    }

    .combo-row-2 .combo-title {
        flex-direction: column;
        top: 10px;
    }

    .combo-row-2 .combo-desc {
        padding-left: 0;
    }

    .combo-img {
        height: 200px;
    }

    .catalog-item {
        flex: 0 0 calc(33.33% - 10px);
        margin: 10px 0px 0px 10px;
    }

    .footer-container {
        padding: 10px;
    }

    .parter-title {
        line-height: 1.5;
    }

    .teacher-item {
        flex: 0 0 calc(50% - 10px);
        margin: 10px 0 0 10px;
        padding: 10px;
    }

    .new-student {
        display: none;
    }

    .trending-dots {
        display: none !important;
    }

    .trending-item.vip-course {
        padding-bottom: 0;
    }

    .trending-item-wrapper {
        overflow-x: auto;
    }
}
